Finances-Control-App-API/.vs/

Finances-Control-App-API/*.log

Finances-Control-App-API/bin/
Finances-Control-App-API/obj/

Finances-Control-App-API/*.nupkg

*.user
*.suo

Finances-Control-App-API/packages/

Finances-Control-App-API/appsettings.Local.json
